<html lang="zxx" class="no-js">
  {% load static %}

  <head>
    <!-- Mobile Specific Meta -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Favicon-->
    <link
      rel="shortcut icon"
      href="{% static 'single/bootstrap/img/logo.jpg' %}"
    />
    <!-- Author Meta -->
    <meta name="author" content="CodePixar" />
    <!-- Meta Description -->
    <meta name="description" content="" />
    <!-- Meta Keyword -->
    <meta name="keywords" content="" />
    <!-- meta character set -->
    <meta charset="UTF-8" />
    <!-- Site Title -->
    <title>연수리와 넙죽이</title>
    <!--CSS============================================= -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
    />

    <link
      rel="stylesheet"
      href="{% static 'blog/bootstrap/css/linearicons.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'blog/bootstrap/css/font-awesome.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'blog/bootstrap/css/themify-icons.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'blog/bootstrap/css/bootstrap.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'blog/bootstrap/css/owl.carousel.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'blog/bootstrap/css/nice-select.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'blog/bootstrap/css/nouislider.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'blog/bootstrap/css/ion.rangeSlider.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'blog/bootstrap/css/ion.rangeSlider.skinFlat.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'blog/bootstrap/css/magnific-popup.css' %}"
    />
    <link rel="stylesheet" href="{% static 'blog/bootstrap/css/main.css' %}" />
    <link
      rel="stylesheet"
      href="{% static 'blog/bootstrap/css/my_style.css' %}"
    />

    <!--font-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Rokkitt"
      rel="stylesheet"
    />
    <link
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Courgette&family=Gloria+Hallelujah&family=Kalam:wght@700&family=Kanit&family=Merienda:wght@800&family=Pangolin&display=swap"
      rel="stylesheet"
    />
  </head>
  {% include 'gallery/navbar.html' %}

  <div id="main-area">{% block main_area %} {% endblock %}</div>
  {% include 'gallery/footer.html' %}
  <script src="{% static 'blog/bootstrap/js/vendor/jquery-2.2.4.min.js' %}"></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
    integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
    crossorigin="anonymous"
  ></script>
  <script src="{% static 'blog/bootstrap/js/vendor/bootstrap.min.js' %}"></script>
  <script src="{% static 'blog/bootstrap/js/jquery.ajaxchimp.min.js' %}"></script>
  <script src="{% static 'blog/bootstrap/js/jquery.nice-select.min.js' %}"></script>
  <script src="{% static 'blog/bootstrap/js/jquery.sticky.js' %}"></script>
  <script src="{% static 'blog/bootstrap/js/nouislider.min.js' %}"></script>
  <script src="{% static 'blog/bootstrap/js/countdown.js' %}"></script>
  <script src="{% static 'blog/bootstrap/js/jquery.magnific-popup.min.js' %}"></script>
  <script src="{% static 'blog/bootstrap/js/owl.carousel.min.js' %}"></script>
  <script src="{% static 'blog/bootstrap/js/gmaps.min.js' %}"></script>
  <script src="{% static 'blog/bootstrap/js/main.js' %}"></script>
</html>
