{% extends 'gallery/base.html' %} {% load static %} {% block main_area %}
<section class="blog_categorie_area">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="categories_post">
          <img
            src="{% static 'blog/bootstrap/img/dogs/001.jpg' %}"
            alt="post"
          />
          <div class="categories_details">
            <div class="categories_text">
              <a href="blog-details.html">
                <h1 class="category-name">Dog</h1>
              </a>
              <div class="border_line"></div>
              <h2 class="category-content">Fancy dogs!</h2>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="categories_post">
          <img
            src="{% static 'blog/bootstrap/img/cats/002.jpg' %}"
            alt="post"
          />
          <div class="categories_details">
            <div class="categories_text">
              <a href="blog-details.html">
                <h1 class="category-name">Cat</h1>
              </a>
              <div class="border_line"></div>
              <h2 class="category-content">Cute cats!</h2>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="categories_post">
          <img
            src="{% static 'blog/bootstrap/img/people_pet/about-2.jpg' %}"
            style="width: 100%; height: 80%"
            alt="post"
          />
          <div class="categories_details">
            <div class="categories_text">
              <a href="blog-details.html">
                <h1 class="category-name">Together</h1>
              </a>
              <div class="border_line"></div>
              <h2 class="category-content">Pet and I</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--================Blog Categorie Area =================-->

<!-- ==============================================
	    Hero
	    =============================================== -->

<div class="container">
  <div class="row">
    {% for x in nft_object_list %}
    <div class="col-lg-6" id="main_gallery" style="margin-bottom: 100px">
      <div class="cardbox shadow-lg bg-white">
        <div class="cardbox-heading">
          <!-- START dropdown-->
          <div class="dropdown float-right">
            <img
              src="{{ x.get_nation_img_url }}"
              style="width: 60px; height: 40px"
            />
          </div>

          <!--/ dropdown -->
          <div class="media m-0">
            <div class="d-flex mr-3">
              <a href=""
                ><img
                  class="img-fluid rounded-circle"
                  src="{% static 'blog/bootstrap/img/user.png' %}"
                  alt="User"
              /></a>
            </div>
            <div class="categories_details">
              <p class="card-name">{{ x.title }}</p>
              <small
                ><span
                  ><i class="icon ion-md-time"></i>{{ x.created_at }}</span
                ></small
              >
            </div>
          </div>
          <!--/ media -->
        </div>
        <!--/ cardbox-heading -->
        <div class="cardbox-item">
          <img class="img-fluid" src="{{ x.nft_image.url }}" alt="Image" />
        </div>
        <!--/ cardbox-item -->
        <div class="cardbox-base">
          <ul>
            
            <li>
              <span  onclick={% if user.is_authenticated %}"toggleLike({{ x.id }})" {% else %} "toggleLikeLogout()" {%endif%}>
                {% if user in x.like_users.all %}
                <i
                  id="like-icon-{{ x.id }}"
                  style="font-size: 24px; margin-left: 30px; margin-right: 30px"
                  class="bi bi-suit-heart-fill"
                ></i>
                {% else %}
                <i
                  id="like-icon-{{ x.id }}"
                  style="font-size: 24px; margin-left: 30px; margin-right: 30px"
                  class="bi bi-suit-heart"
                ></i>
                {% endif%}
              </span>
            </li>
            <li>
              <span
                ><span id="like-count-{{ x.id }}" style="font-size: 24px"
                  >{{ x.total_likes }}</span
                ></
              >
            </li>
            <li>
              <span  onclick="copyToClipboard_uri('{{ x.token_URI }}')"
                ><i
                  style="font-size: 24px; color: gray; margin-left: 30px"
                  class="bi bi-hash"
                  >Token URI</i
                ></
              >
            </li>
          </ul>
        </div>
        <!--/ cardbox-like -->
      </div>
      <!--/ cardbox -->
    </div>
    {% if forloop.counter|divisibleby:2 and not forloop.last %}
  </div>
  <div class="row">
    {% endif %} {% endfor %}
    <!--/ col-lg-3 -->
  </div>

  <!--/ row -->
</div>
<!--/ container -->

<script>
  function copyToClipboard(text) {
    // Create a temporary input element
    const input = document.createElement("input");
    input.value = text;
    document.body.appendChild(input);

    // Select and copy the text
    input.select();
    document.execCommand("copy");

    // Remove the temporary input element
    document.body.removeChild(input);

    // Show a confirmation message or perform any other desired action
    alert("Wallet address copied to clipboard!");
  }
  function copyToClipboard_uri(text) {
    // Create a temporary input element
    const input = document.createElement("input");
    input.value = text;
    document.body.appendChild(input);

    // Select and copy the text
    input.select();
    document.execCommand("copy");

    // Remove the temporary input element
    document.body.removeChild(input);

    // Show a confirmation message or perform any other desired action
    alert("Token URI copied to clipboard!");
  }
  function getCookie(cookieName) {
    var cookieValue = null;
    
    if (document.cookie) {
      var array = document.cookie.split(escape(cookieName) + "=");

      if (array.length >= 2) {
        var arraySub = array[1].split(";");

        cookieValue = unescape(arraySub[0]);
      }
    }
    console.log(cookieValue);
    return cookieValue;
  }

  function toggleLikeLogout() {
    
    return alert("You have to login to leave a like!");
  }

  function toggleLike(nftObjectId) {
    const likeIcon = document.getElementById(`like-icon-${nftObjectId}`);
    const likeCount = document.getElementById(`like-count-${nftObjectId}`);

    // Toggle the like icon
    likeIcon.classList.toggle("bi-suit-heart-fill");
    likeIcon.classList.toggle("bi-suit-heart");

    // Update the like count
    const currentCount = parseInt(likeCount.innerText);

    // Send AJAX request to the server to update the like status

    const url = `../../../gallery/update-like/${nftObjectId}/`;
    //console.log(url);
    fetch(url, {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
        "X-CSRFToken": getCookie("csrftoken"), // Include the CSRF token
      },
    })
      .then((response) => {
        //response.json();
        if (likeIcon.classList.contains("bi-suit-heart-fill")) {
          likeCount.innerText = currentCount + 1;
        } else {
          likeCount.innerText = currentCount - 1;
        }
      })
      .catch((error) => {
        console.error("Error:", error);
      });
  }
</script>
{% endblock %}