{% extends 'single_pages/base.html' %} {% load static %} {% block hot_feed %}
<body>


  <!-- start product Area -->
  <section class="owl-carousel active-product-area section_gap">
    <!-- single product slide -->
    <div class="single-product-slider">
      <div class="container">
        <div class="row">
          <!-- single product -->
          <div class="col-lg-3 col-md-6">
            <div class="single-product">
              <img
                class="img-fluid"
                src="{% static 'single/bootstrap/img/dogs/001.jpg' %}"
                alt=""
              />
              <div class="product-details">
                <h6>addidas New Hammer sole for Sports person</h6>
                <div class="price">
                  <h6>$150.00</h6>
                  <h6 class="l-through">$210.00</h6>
                </div>
                <div class="prd-bottom">
                  <a href="" class="social-info">
                    <span class="ti-bag"></span>
                    <p class="hover-text">add to bag</p>
                  </a>
                  <a href="" class="social-info">
                    <span class="lnr lnr-heart"></span>
                    <p class="hover-text">Wishlist</p>
                  </a>
                  <a href="" class="social-info">
                    <span class="lnr lnr-sync"></span>
                    <p class="hover-text">compare</p>
                  </a>
                  <a href="" class="social-info">
                    <span class="lnr lnr-move"></span>
                    <p class="hover-text">view more</p>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <!-- single product -->
          <div class="col-lg-3 col-md-6">
            <div class="single-product">
              <img
                class="img-fluid"
                src="{% static 'single/bootstrap/img/dogs/002.jpg' %}"
                alt=""
              />
              <div class="product-details">
                <h6>addidas New Hammer sole for Sports person</h6>
                <div class="price">
                  <h6>$150.00</h6>
                  <h6 class="l-through">$210.00</h6>
                </div>
                <div class="prd-bottom">
                  <a href="" class="social-info">
                    <span class="ti-bag"></span>
                    <p class="hover-text">add to bag</p>
                  </a>
                  <a href="" class="social-info">
                    <span class="lnr lnr-heart"></span>
                    <p class="hover-text">Wishlist</p>
                  </a>
                  <a href="" class="social-info">
                    <span class="lnr lnr-sync"></span>
                    <p class="hover-text">compare</p>
                  </a>
                  <a href="" class="social-info">
                    <span class="lnr lnr-move"></span>
                    <p class="hover-text">view more</p>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <!-- single product -->
          <div class="col-lg-3 col-md-6">
            <div class="single-product">
              <img
                class="img-fluid"
                src="{% static 'single/bootstrap/img/dogs/003.jpg' %}"
                alt=""
              />
              <div class="product-details">
                <h6>addidas New Hammer sole for Sports person</h6>
                <div class="price">
                  <h6>$150.00</h6>
                  <h6 class="l-through">$210.00</h6>
                </div>
                <div class="prd-bottom">
                  <a href="" class="social-info">
                    <span class="ti-bag"></span>
                    <p class="hover-text">add to bag</p>
                  </a>
                  <a href="" class="social-info">
                    <span class="lnr lnr-heart"></span>
                    <p class="hover-text">Wishlist</p>
                  </a>
                  <a href="" class="social-info">
                    <span class="lnr lnr-sync"></span>
                    <p class="hover-text">compare</p>
                  </a>
                  <a href="" class="social-info">
                    <span class="lnr lnr-move"></span>
                    <p class="hover-text">view more</p>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <!-- single product -->
          <div class="col-lg-3 col-md-6">
            <div class="single-product">
              <img
                class="img-fluid"
                src="{% static 'single/bootstrap/img/dogs/004.jpg' %}"
                alt=""
              />
              <div class="product-details">
                <h6>addidas New Hammer sole for Sports person</h6>
                <div class="price">
                  <h6>$150.00</h6>
                  <h6 class="l-through">$210.00</h6>
                </div>
                <div class="prd-bottom">
                  <a href="" class="social-info">
                    <span class="ti-bag"></span>
                    <p class="hover-text">add to bag</p>
                  </a>
                  <a href="" class="social-info">
                    <span class="lnr lnr-heart"></span>
                    <p class="hover-text">Wishlist</p>
                  </a>
                  <a href="" class="social-info">
                    <span class="lnr lnr-sync"></span>
                    <p class="hover-text">compare</p>
                  </a>
                  <a href="" class="social-info">
                    <span class="lnr lnr-move"></span>
                    <p class="hover-text">view more</p>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end product Area -->
  <!-- Start brand Area -->
  <section class="brand-area section_gap">
    <div class="container">
      <div class="row">
        <a class="col single-img" href="#">
          <img
            class="img-fluid d-block mx-auto"
            style="width: 200px; height: 200px"
            src="{% static 'single/bootstrap/img/kaist.png' %}"
            alt=""
          />
        </a>
        <a class="col single-img" href="#">
          <img
            class="img-fluid d-block mx-auto"
            style="width: 200px; height: 200px"
            src="{% static 'single/bootstrap/img/klaytn.png' %}"
            alt=""
          />
        </a>
        <a class="col single-img" href="#">
          <img
            class="img-fluid d-block mx-auto"
            style="width: 200px; height: 200px"
            src="{% static 'single/bootstrap/img/yonsei.png' %}"
            alt=""
          />
        </a>
      </div>
    </div>
  </section>
  <!-- End brand Area -->
</body>
{% endblock%}
